.App {
  text-align: center;
  font-family: "Noto Serif CJK JP" , serif;
  background-color: #222222;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {

  background-color: #222;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Interface {
  position: fixed;
  bottom:0;
  left: 50%;
  transform : translate(-50%, 0);
}

.right {
  position: fixed;
  top: 0;
  right: 0;
  /* overflow:hidden; */
  transform: translateX(102%);
  will-change: none;
}

.left {
  position: fixed;
  top: 0;
  left: 0;
  /* overflow:hidden; */
  transform: translateX(-102%);
  will-change: none;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
